/* =======================
   HEADER
   ======================= */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-s);
  color: var(--color-text);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}

.header #header_logo {
  max-width: 325px;
  height: auto;
}

.header_text {
    font-size: var(--font-size-l);
    text-shadow:
     1px 1px 0 var(--color-accent),
    -1px 1px 0 var(--color-accent),
     1px -1px 0 var(--color-accent),
    -1px -1px 0 var(--color-accent);
}

.nav-list {
  list-style: none;
  display: flex;
  align-content: end;
  gap: var(--spacing-m);
}

.header #header_buttons {
  max-width: 75px;
}

.nav-button img {
  display: block;
}

.header-buttons {
  display: flex;
  gap: var(--spacing-s);
}

.icon-button,
.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-light);
}
