/* =======================
   RESET
   ======================= */

/* Quitar márgenes/paddings por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset de tipografía */
body {
  background-color: var(--color-bg);
  font-family: var(--font-body);
  line-height: 1.5;
}
