/* =======================
   SIDEBARS
   ======================= */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-m);
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.leaf-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);

}

.leaf {
  width: 3rem;
  height: 3rem;
  background: var(--color-accent);
  border-radius: 50%;
  
}
